In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('survey_results_public.csv',index_col='Respondent')
data_schema = pd.read_csv('survey_results_schema.csv')

In [17]:
data.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [10]:
data_schema.set_index('Column')

TypeError: first() missing 1 required positional argument: 'offset'

In [15]:
pd.set_option('display.max_rows', 30)

### TASK: What % of people from each country knows Python?

In [79]:
data.groupby('Country')['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').value_counts(normalize=True)).unstack()

                                         False     True
Country
Afghanistan                           0.794872  0.205128
Albania                               0.722892  0.277108
Algeria                               0.682540  0.317460
Andorra                               1.000000       NaN
Angola                                0.500000  0.500000
...                                        ...       ...
Venezuela, Bolivarian Republic of...  0.678161  0.321839
Viet Nam                              0.645455  0.354545
Yemen                                 0.823529  0.176471
Zambia                                0.666667  0.333333
Zimbabwe                              0.641026  0.358974

[178 rows x 2 columns]

In [82]:
python_countries = data.groupby('Country')['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').value_counts(normalize=False)).unstack()

In [128]:
python_countries['Total'] = data['Country'].value_counts()
python_countries.sort_values(by=True, ascending=False, inplace=True)
python_countries.drop('total', axis=1, inplace=True)
python_countries['Percentage_of_Pythoners'] = python_countries[True]/python_countries['Total']
python_countries

                                     True  Total  Percentage_of_Pythoners
Country
United States                     10083.0  20949                 0.481312
India                              3105.0   9061                 0.342677
Germany                            2451.0   5866                 0.417832
United Kingdom                     2384.0   5737                 0.415548
Canada                             1558.0   3395                 0.458910
...                                   ...    ...                      ...
Papua New Guinea                      NaN      1                      NaN
Saint Kitts and Nevis                 NaN      1                      NaN
Saint Vincent and the Grenadines      NaN      1                      NaN
Tajikistan                            NaN      7                      NaN
Tonga                                 NaN      1                      NaN

[178 rows x 3 columns]

In [129]:
python_countries['Percentage_of_Pythoners'].dropna().sort_values(ascending=False)

Country
Sao Tome and Principe                        1.000000
Timor-Leste                                  1.000000
Niger                                        1.000000
Dominica                                     1.000000
Turkmenistan                                 0.857143
                                               ...
Myanmar                                      0.173077
Republic of Moldova                          0.162791
Yemen                                        0.157895
The former Yugoslav Republic of Macedonia    0.148148
Mozambique                                   0.142857
Name: Percentage_of_Pythoners, Length: 162, dtype: float64

In [120]:
python_countries['total'] = data['Country'].value_counts()
python_countries['total'].sort_values(ascending=False)

Country
United States            20949
India                     9061
Germany                   5866
United Kingdom            5737
Canada                    3395
                         ...
Saint Kitts and Nevis        1
Papua New Guinea             1
Dominica                     1
Niger                        1
North Korea                  1
Name: total, Length: 178, dtype: int64

In [104]:
python_countries.nlargest(10, True)

                  False    True
Country
United States   10686.0  10083.0
India            5739.0   3105.0
Germany          3380.0   2451.0
United Kingdom   3306.0   2384.0
Canada           1807.0   1558.0
France           1320.0   1054.0
Australia        1090.0    790.0
Brazil           1163.0    767.0
Netherlands      1071.0    767.0
Poland           1156.0    751.0

In [107]:
data.groupby(['Country'])['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [108]:
filt = data['LanguageWorkedWith'].str.contains('Python')

In [109]:
data.loc[filt, 'LanguageWorkedWith']

ValueError: cannot index with vector containing NA / NaN values

In [52]:
data[data['LanguageWorkedWith'].dropna(axis=0).str.contains('Python')]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [53]:
data['LanguageWorkedWith'].dropna(axis=0).str.contains('Python').value_counts()

False    51126
True     36443
Name: LanguageWorkedWith, dtype: int64

In [50]:
data['LanguageWorkedWith'].dropna(axis=0).str.contains('Python')

Respondent
1         True
2         True
3        False
4         True
5         True
         ...
88182    False
88212     True
88282    False
88377    False
88863    False
Name: LanguageWorkedWith, Length: 87569, dtype: bool

                                         False     True
Country
Afghanistan                           0.794872  0.205128
Albania                               0.722892  0.277108
Algeria                               0.682540  0.317460
Andorra                               1.000000       NaN
Angola                                0.500000  0.500000
...                                        ...       ...
Venezuela, Bolivarian Republic of...  0.678161  0.321839
Viet Nam                              0.645455  0.354545
Yemen                                 0.823529  0.176471
Zambia                                0.666667  0.333333
Zimbabwe                              0.641026  0.358974

[178 rows x 2 columns]

In [76]:
data.loc[data['Country']=='Albania']['LanguageWorkedWith'].str.contains('Python').value_counts()

False    60
True     23
Name: LanguageWorkedWith, dtype: int64